/* styles.css para plantilla de vericador*/


.ion-text-center {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 5px;
}

/*Estilo de imagen logo ML*/
.imglogo {
  transform: rotate(10deg);
  width: 210px;
  height: 210px;
  position: absolute;
  z-index: 100;  
  }

  /*Especificaciones imgenes */
.imgdetalles {
  position: absolute;
  z-index: 100
  }
  
  /*Estilo uva lado derecho superior*/
.uva1{
    transform: rotate(80deg);
    margin-left: 85%;
    height: 100px;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
    
  }
  /*Estilo uva lado derecho inferior*/
.uva2{
    transform: rotate(15deg);
    margin-left: 85%;
    margin-top: 55%;
    height: 150px;
    position: absolute;
    z-index: 90;
    opacity: 0.8;
  }
 /*Estilo uva centro*/
.uva3{
    height: 280px;
    transform: rotate(15deg);
    margin-left: 20%;
    margin-top: 25%;
    position: absolute;
    z-index: 100;
    opacity: 0.5;
  }