/* styles.css */

/* Estilos para centrar y alinear los elementos */

.ion-title{
    font-size: xx-large;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    color: #A65F8D;
}
.ion-text-center {
    text-align: center;

}

/* Estilo para la tarjeta principal */
.ion-card { 
  margin: auto;
  margin-top: 2rem;
    padding:1.5rem;
    width: 85% ;
    background-color: #ffffff;
    color: #09090b;
    border: 1px solid #ecebeb;
    border-radius: 0.5rem;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-resultado{
    position: absolute;
    z-index: 200;
}

/* Contenido de la tarjeta */
.ion-card-content {
    padding: 1rem 1.5rem;
    margin : 1rem auto;;
    font-size: 2rem;
}

/* Estilo para el input y botón */
ion-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    --padding-start: 10px !important;
    border: 1px solid ;
    border-radius: 4px;
    background: #f2f4f5;

}

/* Contenedor de la información del producto */
.product-info {
    padding: 1rem;
    text-align: center;
    background-color: #F2F2ff;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: large;
}

/* Información adicional del producto */
.product-info-h3 {
    font-size:  xx-large;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.precio-oferta {
    font-size: xx-large !important;
    color:#A65F8D ;
}


/* Estilo para el mensaje de error */
.error-message {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffe5e5;
    color: #d8000c;
    border-radius: 8px;
}

