/* styles.css */

/* Estilos para centrar y alinear los elementos */
.ion-text-center {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 25px;
    

}

/* Estilo para la tarjeta principal */
.ion-card {
    max-width: 600px auto;
    padding: 2.5rem;
    border-radius: 10px; 
    margin-bottom: 1rem;
  
    
}

/* Estilo del encabezado de la tarjeta */
.ion-card-title {
    font-size: 3rem;
    border: 1rem;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    color:  #A65F8D;
    background-color: #F2F2F7;
    padding:25px 0 25px 0;
    margin-bottom: 1rem;
  
}

/* Contenido de la tarjeta */
.ion-card-content {
    padding: 1rem 1.5rem;
    margin : 1rem auto;;
    font-size: 2rem;
}

/* Estilo para el input y botón */
ion-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    --padding-start: 10px !important;
    border: 1px solid ;
    border-radius: 4px;
    background: #f2f4f5;
    
}

ion-button {
    margin-top: 1rem;
   
    --color: ;
 
}

/* Contenedor de la información del producto */
.product-info {
    padding: 1rem;
    text-align: center;
    background-color: #F2F2ff;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: large;
}

/* Información adicional del producto */
.product-info-h3 {
    font-size:  3rem;
    margin-bottom: 0.5rem;
   
}

.product-info p {
    margin: 0.5rem 0;
    
}

/* Estilo del badge */
ion-badge {
    margin-top: 1rem;
    font-size: 1rem;
    display: inline-block;
}

.precio-oferta {
    font-size: 2.5rem !important;
    color:#A65F8D ;

}


/* Estilo para el mensaje de error */
.error-message {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffe5e5;
    color: #d8000c;
    border-radius: 8px;
}